ion-content {
    position: relative;
    height: 100%;
}

ion-datetime {
    --background: #2a2a2a;
    --title-color: #fff;
    position: absolute;
    top: 45%;
    height: 500px;
    padding-top: 0px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: calc(100% - 32px);

    and::part(calendar-day) {
        height: 90%;
        width: 110%;
        border-radius: 15px;
        padding: 5px;
        font-size: 1.4rem; // Ajusta este valor según lo que te parezca más adecuado
        font-weight: bold;
    }

}

.calendar-title {
    color: #fff !important;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
}


ion-datetime::part(calendar-day today) {
    background-color: inherit;
    color: #ffffff;
    border-color: var(--active-day-border-color, #e9e9e9);
    border-width: 3px;
}


ion-datetime::part(calendar-day active):focus {
    background-color: var(--day-score-color, #e9e9e9);
    color: #e9e9e9;
    border-color: var(--active-day-border-color, #e9e9e9);
    border-width: 3px;
}