.bottom-sheet-container {
    background-color: #161616;
    text-align: center;

    h3 {
        margin-bottom: 16px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #f1f1f1;
    }

    .options-list {
        background-color: #161616;
        list-style: none;
        padding: 0;


        .option-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            margin: 8px auto; // Cambiado para centrar
            width: 150px; // O el ancho que quieras
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            background-color: #444;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.2s;

            ion-icon {
                margin-right: 8px;
                font-size: 1.2rem;
            }

            &:hover {
                background-color: #555;
            }

            &.cancel {
                background-color: #222;
                color: #ff4d4d;
                font-weight: bold;

                &:hover {
                    background-color: #222;
                }
            }
        }

    }
}