<ion-header>
  <ion-toolbar>
    <ion-title>Daily View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let meal of meals" [class.meal-done]="meal.done">
      <ion-checkbox slot="start" [(ngModel)]="meal.done" (ionChange)="toggleMealDone(meal)" [ngStyle]="{
          '--background': meal.done ? getColorByScore(meal.score) : 'transparent',
          '--border-color': getColorByScore(meal.score)
        }" style="--size: 35px; --border-width: 5px; --border-radius: 10px;">
      </ion-checkbox>
      <ion-label (click)="presentMealAlert(meal)">
        <h2>{{ meal.name }}</h2>
        <p>Score: {{ meal.score }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>