.meal-done {

    ion-label h2,
    ion-label p {
        text-decoration: line-through;
        color: grey;
    }
}

ion-item {
    ion-checkbox {
        --size: 35px;
        --border-width: 5px;
        --border-radius: 10px;
        --border-color: #000; // Color por defecto cuando no esté hecho
    }
}