ion-checkbox {
    --size: 35px;
    --border-width: 4px; // Grosor del borde que quieres mantener visible y marcado
    border-radius: 15px; // Cambia a 15px para suavizar las esquinas sin perder el grosor
    box-shadow: none; // Eliminar sombras adicionales que puedan estar haciendo que se vea desordenado

    // Colores según el score, manteniendo el borde bien visible
    &.score-1 {
        --checkbox-background-checked: #ff4d4d;
        --checkbox-color-dynamic: #ff4d4d;
    }

    &.score-2 {
        --checkbox-background-checked: #ffa74d;
        --checkbox-color-dynamic: #ffa74d;
    }

    &.score-3 {
        --checkbox-background-checked: #ffd24d;
        --checkbox-color-dynamic: #ffd24d;
    }

    &.score-4 {
        --checkbox-background-checked: #b3ff4d;
        --checkbox-color-dynamic: #b3ff4d;
    }

    &.score-5 {
        --checkbox-background-checked: #4dff4d;
        --checkbox-color-dynamic: #4dff4d;
    }
}

ion-checkbox::part(container) {
    border: var(--border-width) solid var(--checkbox-color-dynamic); // Mantener el borde grueso y del color dinámico según el score
    border-radius: 15px; // Asegúrate de que tenga la misma propiedad para evitar conflicto de bordes
}

.mealtype {
    font-size: 20px;
    font-weight: bold;
}

.meal {
    font-size: 20px;
}

.notmealyet {
    font-size: 20px;
    font-style: italic;
    color: #616e7e
}


.meal-done h2,
.meal-done p {
    font-size: 20px;
    text-decoration: line-through;
    color: grey;
}

.todaysmealstittle {
    size: 22px;
    font-weight: 100;
    align-self: center;
}

.todaysdate {
    align-self: center;
}

ion-modal {
    --height: 50%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {

    --color: white;
}

ion-range {
    --knob-background: var(--score-color, #ccc); // Gris inicial
}

ion-range[ng-reflect-value="null"] {
    --knob-background: #ccc;
}

ion-range {
    --bar-height: 20px;
    --bar-border-radius: 10px;
    --knob-size: 42px;
    --knob-background: var(--ion-color-primary);
    /* Este será el color del knob */
    padding-left: 10%;
    padding-right: 10%;
    --bar-background: #2b2b2b;
    --bar-background-active: #2b2b2b;
    --knob-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --label-color: var(--ion-color-primary);
    /* Color del texto */
    --label-font-size: 16px;
    /* Tamaño del texto */
    --label-font-weight: bold;


    /* Por defecto, si no hay score seleccionado */
    [ng-reflect-value="null"] {
        --knob-background: #ccc;
        /* Gris inicial */
    }
}

ion-range::part(label) {
    margin-right: 10%;

}


/* Opcional: Ocultar las marcas del rango */
ion-range::part(tick) {
    background: transparent;
}