<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="icon-upper-bar" src="assets/sidebaricons/day.png" slot="start" width="32" height="32" />
        <ion-title>Daily View</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Today's Meals</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div *ngFor="let meal of meals">
                <ion-item-sliding *ngIf="meal && meal.name; else emptyMeal">
                    <ion-item>

                        <ion-checkbox slot="end" [checked]="meal.done"
                            (ionChange)="toggleMealDone(meal)"></ion-checkbox>





                        <ion-label (click)="openMealForm(meal)" [ngClass]="{'meal-done': meal.done}">
                            <h2>{{ meal.name }}</h2>
                            <p *ngIf="meal.description">{{ meal.description }}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="editMeal(meal)">Edit</ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ng-template #emptyMeal>
                    <ion-item (click)="openMealForm(meal)">
                        <ion-label>
                            <h2>Add Meal</h2>
                        </ion-label>
                    </ion-item>
                </ng-template>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>