<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="icon-upper-bar" src="assets/sidebaricons/day.png" slot="start" width="32" height="32" />
        <ion-title>Daily View</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="todaysmealstittle">Today's Meals</ion-card-title>

            <h3 class="todaysdate">{{ formattedDate }}</h3>

        </ion-card-header>

        <ion-card-content>
            <div *ngFor="let meal of meals">
                <ion-item-sliding *ngIf="meal && meal.name; else emptyMeal">
                    <ion-item>

                        <ion-checkbox slot="end" [checked]="meal.done" (ionChange)="toggleMealDone(meal)"
                            [ngClass]="getColorClass(meal)">
                        </ion-checkbox>

                        <ion-label (click)="openMealForm(meal)" [ngClass]="{'meal-done': meal.done}">
                            <h1 class="mealtype">{{ meal.mealtype}}</h1>
                            <h2 class="meal">{{ meal.name }}</h2>
                            <p *ngIf="meal.description">{{ meal.description }}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="editMeal(meal)">Edit</ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ng-template #emptyMeal>
                    <ion-item (click)="openMealForm(meal)">
                        <ion-label>
                            <h1 class="mealtype">{{ meal.mealtype}}</h1>
                            <h2 class="notmealyet">Add Meal</h2>
                        </ion-label>
                    </ion-item>
                </ng-template>
            </div>

            <ion-button expand="full" [disabled]="!isDayComplete()" (click)="finalizeDay()">
                Finalize Day
            </ion-button>



        </ion-card-content>
    </ion-card>

    <ion-modal #mealModal [isOpen]="isModalOpen" (didDismiss)="onModalDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>{{ currentMeal?.name ? 'Edit Meal' : 'Add Meal' }}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="closeModal()">Close</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Meal Name</ion-label>
                        <ion-input name="mealName" placeholder="Enter meal name" [(ngModel)]="currentMeal.name"
                            (ionChange)="filterSuggestions()">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label>Score</ion-label>
                        <ion-range label="Score" name="mealScore" min="1" max="5" step="1" snaps="true" ticks="true"
                            [(ngModel)]="currentMeal.score"
                            [ngStyle]="{'--knob-background': getColorByScore(currentMeal.score)}">
                        </ion-range>

                    </ion-item>

                    <ion-item *ngIf="suggestions.length > 0">
                        <ion-label>Suggestions:</ion-label>
                        <ion-select [(ngModel)]="currentMeal.name" (ionChange)="setSuggestion()">
                            <ion-select-option *ngFor="let suggestion of suggestions">{{ suggestion
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>Set Reminder</ion-label>
                        <ion-toggle name="reminderToggle" [(ngModel)]="currentMeal.reminder"></ion-toggle>
                    </ion-item>
                </ion-list>

                <ion-footer>
                    <ion-button expand="block" (click)="saveMeal()">Save</ion-button>
                </ion-footer>
            </ion-content>
        </ng-template>
    </ion-modal>

</ion-content>