<ion-content>
    <!-- Contenedor principal -->
    <div class="main-content">
        <!-- Tarjeta de comidas -->
        <ion-card #mealCard class="todaysmealcontent">

            <ion-card-header>
                <ion-card-title class="todaysmealstittle">Today's Meals</ion-card-title>
                <h3 class="todaysdate">{{ formattedDate }}</h3>
                <!-- FAB dentro del header -->
                <ion-fab vertical="bottom" horizontal="end" class="footer-fab">
                    <ion-fab-button (click)="openMealForm()">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-card-header>

            <!-- Lista de comidas (área independiente con scroll) -->
            <ion-card-content class="meals-content">
                <div *ngIf="meals.length > 0; else noMeals">
                    <div *ngFor="let meal of meals">
                        <ion-item-sliding *ngIf="meal.name">
                            <ion-item class="mealReady" lines="none">
                                <ion-checkbox aria-label="Meal Done Checkbox" slot="end" [checked]="meal.done"
                                    (ionChange)="toggleMealDone(meal)" [ngClass]="getColorClass(meal)">
                                </ion-checkbox>

                                <ion-label (click)="openMealForm(meal)" [ngClass]="{'meal-done': meal.done}">
                                    <h1 class="mealtype">{{ meal.mealtype }}</h1>
                                    <h2 class="meal">{{ meal.name }}</h2>
                                    <p *ngIf="meal.description">{{ meal.description }}</p>
                                </ion-label>
                            </ion-item>

                            <ion-item-options side="end">
                                <ion-item-option color="danger" (click)="deleteMeal(meal)">
                                    <ion-icon name="trash"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>

                        <ion-item-sliding *ngIf="!meal.name">
                            <ion-item class="mealReady" lines="none" (click)="openMealForm(meal)">
                                <ion-label>
                                    <h1 class="mealtype">{{ meal.mealtype }}</h1>
                                    <h2 class="notmealyet">Add Meal</h2>
                                </ion-label>
                            </ion-item>

                            <ion-item-options side="end">
                                <ion-item-option color="danger" (click)="deleteMeal(meal)">
                                    <ion-icon name="trash"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </div>
                </div>

                <!-- Mensaje cuando no hay comidas -->
                <ng-template #noMeals>
                    <div class="no-meals-message">
                        <p>Nothing here, press the + button to add a Meal!</p>
                    </div>
                </ng-template>
            </ion-card-content>


            <div class="swipe-footer">
                <!-- Botones SIN la clase navigation-buttons -->
                <ion-button (click)="navigateToDate(goToPreviousDay())">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>

                <ion-button (click)="navigateToDate(goToNextDay())">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card>

        <!-- Botones fijos en la parte inferior -->
        <div class="finalize-button">
            <ion-button (click)="finalizeDay()" [disabled]="meals.length === 0 || !isDayComplete()"
                [color]="meals.length > 0 && isDayComplete() ? 'primary' : 'medium'">
                Finalize Day
            </ion-button>

        </div>
    </div>

    <!-- Modal para añadir/editar comidas -->
    <ion-modal #mealModal [isOpen]="isModalOpen" (didDismiss)="onModalDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>{{ currentMeal.name ? 'Edit Meal' : 'Add Meal' }}</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content class="modal-container">

                <!-- Selector de tipo de comida -->
                <ion-item lines="none" class="meal-type-selector">

                    <ion-select class="select-meal-type" aria-label="meal-type-selector" interface="popover"
                        label="Select a meal type" placeholder="Select a meal type" justify="start"
                        label-placement="floating" [(ngModel)]="currentMeal.mealtype" required>
                        <ion-select-option value="Breakfast">Breakfast</ion-select-option>
                        <ion-select-option value="Lunch">Lunch</ion-select-option>
                        <ion-select-option value="Dinner">Dinner</ion-select-option>
                        <ion-select-option value="Snack">Snack</ion-select-option>
                        <ion-select-option value="Drink">Drink</ion-select-option>
                        <ion-select-option value="Other">Other</ion-select-option>
                    </ion-select>
                </ion-item>

                <!-- Campo para el nombre de la comida -->
                <ion-input class="name" label="Name" placeholder="Enter meal name" labelPlacement="floating"
                    fill="outline" required [(ngModel)]="currentMeal.name" (ionInput)="filterSuggestions()">
                </ion-input>

                <!-- Lista de sugerencias -->
                <ion-list lines="none" *ngIf="suggestions.length > 0" class="suggestion-list">
                    <ion-item button *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                        {{ suggestion.name }}
                    </ion-item>
                </ion-list>

                <!-- Selector de puntuación -->
                <ion-item class="score" lines="none">
                    <ion-label>Score</ion-label>
                    <ion-range aria-label="Score" min="1" max="5" step="1" snaps="true" ticks="true"
                        [(ngModel)]="currentMeal.score"
                        [ngStyle]="{'--knob-background': getColorByScore(currentMeal.score)}">
                    </ion-range>
                </ion-item>

                <ion-item class="alarm" lines="none">
                    <ion-label>Defrosted Alarm?</ion-label>
                    <ng-container *ngIf="!currentMeal.alarmTime; else alarmSet">
                        <!-- Al activar el toggle, se abre el modal -->
                        <ion-toggle aria-label="Delivery Toggle" slot="end" [(ngModel)]="currentMeal.reminder"
                            (ionChange)="openTimePicker()"></ion-toggle>
                    </ng-container>
                    <ng-template #alarmSet>
                        <!-- Si ya hay alarma, se muestra un botón con la hora -->
                        <ion-button fill="outline" slot="end" (click)="openTimePicker()">
                            {{ currentMeal.alarmTime | date:'HH:mm' }}
                        </ion-button>
                        <ion-button fill="clear" color="danger" (click)="removeAlarm()">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ng-template>
                </ion-item>

                <!-- Modal para seleccionar la hora -->
                <ion-modal [isOpen]="isTimePickerOpen" (didDismiss)="onTimePickerDismiss()">
                    <ng-template>
                        <ion-header>
                            <ion-toolbar>
                                <ion-title>Set the time</ion-title>
                                <ion-buttons slot="end">
                                    <ion-button (click)="cancelTimePicker()">Cancel</ion-button>
                                    <ion-button (click)="confirmTimePicker()">OK</ion-button>
                                </ion-buttons>
                            </ion-toolbar>
                        </ion-header>
                        <ion-content>
                            <ion-datetime class="timePickerModal" name="timePicker" presentation="time"
                                displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="selectedTime">
                            </ion-datetime>

                        </ion-content>
                    </ng-template>
                </ion-modal>


                <ion-item class="delivery" lines="none">
                    <ion-label>Delivery?</ion-label>
                    <ion-toggle aria-label="Delivery Toggle" slot="end" [(ngModel)]="currentMeal.hasDelivery">
                    </ion-toggle>
                </ion-item>

                <ion-button class="savebutton" (click)="saveMeal()"
                    [disabled]="!currentMeal.name || !currentMeal.score || !currentMeal.mealtype"
                    [color]="currentMeal.name && currentMeal.score && currentMeal.mealtype ? 'primary' : 'medium'">
                    SAVE
                </ion-button>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>