<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daily">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Daily</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monthly">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Monthly</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="database">
      <ion-icon name="database"></ion-icon>
      <ion-label>DDBB</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>