<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-label class="side-menu-title">Weekly Menu</ion-label>

          <ion-chip slot="end">
            <ion-avatar>
              <img src="assets/sidebaricons/user.png" alt="User Avatar" />
            </ion-avatar>
            <ion-label>User</ion-label>
          </ion-chip>

        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">

              <img *ngIf="p.icon === 'day-icon'" src="assets/sidebaricons/day.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'week-icon'" src="assets/sidebaricons/week.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'month-icon'" src="assets/sidebaricons/month.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'form-icon'" src="assets/sidebaricons/form.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'database-icon'" src="assets/sidebaricons/db.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'stats-icon'" src="assets/sidebaricons/stats.png" slot="start" width="24"
                height="24" />
              <img *ngIf="p.icon === 'config-icon'" src="assets/sidebaricons/config.png" slot="start" width="24"
                height="24" />
              <ion-label class="menu-section">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<!--(click)="p.url === '/monthlyview' ? resetCalendar() : null"-->