.name-score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative; // Permite que elementos internos tengan posición absoluta relativa a este contenedor
}

.name-container {
    position: relative; // Permite posicionar la lista de sugerencias solo respecto al input Name
    width: 100%;
}

.name {
    width: 100%; // Asegura que el input ocupe el mismo ancho que su contenedor
    z-index: 10; // Asegura que el input esté sobre la lista
}

.suggestion-list {
    position: absolute;
    left: 50%; // Mueve el borde izquierdo al centro del contenedor
    transform: translateX(-50%); // Centra completamente la lista
    width: 90%; // Un poco más estrecho si lo necesitas
    max-height: 200px;
    overflow-y: auto;
    background: #1e1e1e;
    border: 2px solid #4d4d4d; // Borde más grueso
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100; // Asegura que la lista esté sobre otros elementos
}


.suggestion-list ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 48px;
    font-size: 14px;
    color: white;
    background: #2a2a2a;

    &:hover {
        background-color: #3a3a3a;
    }
}

/* Ajustamos el ion-range para que no quede aplastado */
ion-range {
    width: 90%;

}

ion-card-title {
    margin: 0;
    flex: 1;
    text-align: left;
    color: white;

}

ion-content {
    --overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ion-card {
    background: #2a2a2a;
    margin-top: 20px;
    height: 90hv;
    width: 90%;
    justify-self: center;
    margin-top: 10%;
    border-radius: 25px;

}

ion-card-header {
    background-color: #901050;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    height: 50px;

}

.mealformtitle {
    size: 22px;
    color: #ffffff;
    font-weight: 100;
    margin-left: 5%;
    align-self: left;
}

.name {
    display: block;
    margin: auto;
    --background: #1e1e1e;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 2%;
    --border-radius: 10px;
    --border-width: 2px;

}




ion-label {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-medium);
}

ion-range {
    --knob-background: var(--score-color, #ccc); // Gris inicial
}

ion-range[ng-reflect-value="null"] {
    --knob-background: #ccc;
}

ion-range {
    --bar-height: 20px;
    --bar-border-radius: 10px;
    --knob-size: 42px;
    --knob-background: var(--ion-color-primary);
    /* Este será el color del knob */
    padding-left: 10%;
    padding-right: 10%;
    --bar-background: #1c1c1c;
    --bar-background-active: #424242;
    --knob-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --label-color: var(--ion-color-primary);
    /* Color del texto */
    --label-font-size: 16px;
    /* Tamaño del texto */
    --label-font-weight: bold;


    /* Por defecto, si no hay score seleccionado */
    [ng-reflect-value="null"] {
        --knob-background: #ccc;
        /* Gris inicial */
    }
}

ion-range::part(label) {
    margin-right: 10%;

}


/* Opcional: Ocultar las marcas del rango */
ion-range::part(tick) {
    background: transparent;
}



ion-input.description {
    display: block;
    margin: auto;
    width: 90%;
    height: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
    --background: #1e1e1e;
    --border-radius: 10px;
    --border-width: 2px;
}

ion-input.url {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    --background: #1e1e1e;
    --border-radius: 10px;
    --border-width: 2px;
}

.image-thumb-wrapper {
    width: 90%;
    height: 320px;
    display: flex;

    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.image-placeholder-wrapper {
    width: 70%;
    height: 90%;

    border-radius: 20px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // Evita que la imagen sobresalga del borde redondeado
}

.image-placeholder {

    width: 90%; // Ocupar todo el ancho del contenedor
    height: 93%; // Ocupar todo el alto del contenedor
    object-fit: cover; // Llenar el contenedor sin deformar la imagen
    border-radius: 16px;
}

.thumbs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* Espacio entre elementos */
    width: 30%;
    height: 300px;
    /* Igual que el placeholder */
    position: relative;
    /* Para no mover el botón */

    .thumb-title {
        margin-top: 5px;
        /* Evita que se empuje demasiado */
        margin-bottom: 15px;
        /* Espacio hacia los thumbs */
        font-size: 16px;
        font-weight: bold;
        color: var(--ion-color-medium);
        text-align: center;
    }
}

.thumb {
    width: 48px;
    height: 48px;
    background-color: #c3c3c3;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}


.thumb-up {
    mask-image: url('/assets/thumb-up.svg');
    -webkit-mask-image: url('/assets/thumb-up.svg');
}

.thumb-down {
    mask-image: url('/assets/thumb-down.svg');
    -webkit-mask-image: url('/assets/thumb-down.svg');
}

.thumb.selected {
    transform: scale(1.1);
    /* Agranda ligeramente el thumb */
}

.thumb-up.selected {
    background-color: #4dff4d;
    /* Verde para thumb-up */
    mask-image: url('/assets/thumb-up-selected.svg');
    -webkit-mask-image: url('/assets/thumb-up-selected.svg');
}

.thumb-down.selected {
    background-color: #ff4d4d;
    /* Rojo para thumb-down */
    mask-image: url('/assets/thumb-down-selected.svg');
    -webkit-mask-image: url('/assets/thumb-down-selected.svg');
}


.accept-button {
    width: 80px;
    height: 60px;
    --border-radius: 16px;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    margin-bottom: 22px;

    bottom: 0;

    &:active {
        transform: scale(0.9);
    }
}

ion-action-sheet {
    z-index: 99999 !important;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Oscurece la pantalla
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; // Asegúrate de que esté encima de todo
}