<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meal Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="mealformtitle">Meal Form</ion-card-title>
    </ion-card-header>
    <!-- Indicador de carga -->
    <div class="loading-overlay" *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <!-- Campo de Nombre y Score -->

    <div class="name-score-wrapper">
      <!-- Contenedor específico para Name y su lista -->
      <div class="name-container">
        <ion-input #nameInput class="name" label="Name" labelPlacement="floating" maxlength="50"
          placeholder="Enter the meal name... (required)" [formControl]="mealNameControl" required fill="outline"
          (ionInput)="filterSuggestions()">
        </ion-input>

        <!-- Lista de sugerencias (ahora tiene una referencia #suggestionList) -->
        <ion-list #suggestionList lines="none" *ngIf="suggestions.length > 0" class="suggestion-list">
          <ion-item button *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
            {{ suggestion.name }}
          </ion-item>
        </ion-list>
      </div>

      <!-- Campo de Score -->
      <ion-range label="Score" [formControl]="scoreControl" min="1" max="5" step="1" snaps="true" ticks="true"
        [ngStyle]="{'--knob-background': getScoreColor(scoreControl.value)}">
      </ion-range>
    </div>




    <ion-input class="description" label="Description" fill="outline" maxlength="250" labelPlacement="floating"
      placeholder="Add a short description... (optional)" [formControl]="descriptionControl">
    </ion-input>


    <ion-input type="url" class="url" label="URL" fill="outline" maxlength="100" labelPlacement="floating"
      placeholder="Link to the recipe... (optional)" [formControl]="urlControl">
    </ion-input>


    <div class="image-thumb-wrapper">
      <div class="image-placeholder-wrapper" (click)="openImageOptions()">
        <img [src]="selectedImage" alt="Food Placeholder" class="image-placeholder" />
      </div>


      <div class="thumbs-container">
        <p class="thumb-title">YUM <br> OR <br> NAH?</p>
        <div class="thumb thumb-up" [class.selected]="thumbUpSelected" (click)="toggleThumb('up')"></div>
        <div class="thumb thumb-down" [class.selected]="thumbDownSelected" (click)="toggleThumb('down')"></div>

        <ion-button class="accept-button" expand="block" [disabled]="!mealNameControl.valid || !scoreControl.value"
          (click)="saveMeal()" [innerHTML]="mealId ? 'EDIT<br>MEAL' : 'SAVE<br>MEAL'">
        </ion-button>



      </div>
    </div>

  </ion-card>
</ion-content>